<div class="p-4">
    <a href="/links/admin" class="text-white"><button type="button" class="btn red accent-4"><i
                class="fas fa-arrow-left"></i></button></a>
</div>
<div class="m-3 p-2">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Disponibilidad</th>
                <th>Denuncias</th>
                <th>Gestionar</th>
            </tr>
        </thead>
        <tbody>
            {{#each conductoresM}}
            <tr>
                <td>{{id}}</td>
                <td>{{disponible}}</td>
                <td>{{denuncias}}</td>
                <td><a href="/links/linkMultados/{{id}}" class="text-white"><button type="button"
                            class="btn  red darken-3"><i class="fa fa-book" aria-hidden="true"></i></button></a></td>
            </tr>
            {{else}}
            <h4>No hay pasajeros registrados</h4>
            {{/each}}

        </tbody>
    </table>
</div>