<div class="spinner" id="loader"></div>
<div class="container p-4">
    <div class="row">
        {{#each datesDriver}}
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="../img/pass1.jpg">
                        <span class="card-title">{{nombre}}</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4 seguir"
                            href="/links/editDatesDriver/{{id}}"><i class="fas fa-pencil-alt"></i></a>
                    </div>
                    <div class="card-content">
                        <p>Vive en {{departamento}} - {{municipio}}</p>
                        <p>Disponibilidad: {{disponible}}</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="/links/validationCreateRoute" class="btn btn-warning blue darken-4 seguir">Crear ruta</a><br><br>
        <!-- Button trigger modal -->
        <div class="row">
        </div>
        <button type="button" class="btn red darken-2" data-toggle="modal" data-target="#exampleModal">
            Condiciones
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Conductor</h5>
                    </div>
                    <div class="modal-body">
                        <ol>
                            <li>Debes cambiar los estados de ruta hasta finalizar tu viaje. Ya que este informa a tus
                                pasajeros el desarrollo de todo el viaje.</li>
                            <li>Debes ser responsable con los tiempos y respetuoso con los pasajeros que eligieron su
                                ruta. Si no puede prestar el servicio cambie su estado a "HOY NO ESTOY DISPONIBLE" 30
                                minutos antes de la hora pactada; si puede antes mejor.</li>
                        </ol>
                        Los pasajeros te pueden calificar tu servicio. Si llegas a una puntuación de menos 2.0, se te
                        inhabilitara tu cuenta de conductor.
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn  red darken-2" data-dismiss="modal">Entendido</button>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="../img/background.jpg">
                        <span class="card-title">Conductor</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4 seguir"
                            href="/links/createProfileDriver"><i class="fa fa-address-book"></i></a>
                    </div>
                    <div class="card-content">
                        <p>No tienes perfil de conductor para crear rutas compartidas. <br>Presiona el botón <i
                                class="fa fa-address-book"></i> para crearlo.</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="botons">
    <div class="fixed-action-btn toolbar">
        <a class="btn-floating btn-large black">
            <i class="large fa fa-plus"></i>
        </a>
        <ul>
            <li><a class="btn-floating seguir" href="/profile"><i class="fas fa-arrow-left"></i></a></li>
            <li><a class="btn-floating seguir" href="/links/profiles"><i class="fa fa-address-book"></i></a></li>
            <li><a class="btn-floating seguir" href="/links/routes"><i class="fa fa-route"></i></a></li>
            <li><a class="btn-floating seguir" href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            toolbarEnabled: true
        });
    });

    $('.seguir').on("click", function () {
        document.getElementById("loader").style.display = "block";
    });
</script>